*.class
.classpath
.project
.settings
target
bin

# IntelliJ project files
.idea
*.iml
out
gen

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac crap
.DS_Store
